*{
    box-sizing: border-box;
}
 body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    background-color:  #F2F2F2;
    font-family:'Fraunces', serif;
} 

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    display: block;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__inner{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}
.header__list{
     display: flex;
     align-items: center;
     margin-top: 1%;
}
.header__list__item{
    
    color:  #83888F;
     padding: 0 15px;
}
/* HERO */

.hero__inner{
    background-image: url(../images/Bitmap.png);
    background-repeat: no-repeat;
    border: 2px solid black;
    width:1160px;
    height: 600px;
   margin-top:35px;
}

.hero__inner__title{
    display:inline-block;
    color:#FEFCF7;
    width: 600px;
    padding: 9px 100px 32px 85px;
    font-size: 72px;
}
.hero__inner__text{
    color:#FEFCF7;
    Width: 445px;
    padding: 9px;
    margin-left:  74px;
    margin-top: -50px;
    font-size: 16px;
    line-height: 23px;
}

.button{
    background-color:#66D2CF;
    color: #F2F2F2;
    border-radius: 6px;
    padding: 15px -1px 31px;
    Width:217px;
    height:56px ;
    margin-left: 86px;
    margin-top: 56px;
}
.offer__list{
    display: flex;
    margin-top: 262px;
}
.offer__list__item{
    width:255px;
    font-size: 24px;
    margin-left: 66px;
}

.inner__list__text{
    width:225px;
    font-size: 16px;
    line-height: 26px;
}

.grand{
    margin-left: 35px;

}

.our__list__back__img{
    margin-top: 10px;
}
.our__servis{
    border-radius: 10px;
    background-color: #2C343E;
    margin-top: 188px;
    padding-top: 85px;
    padding-left: 30%;
    width: 1200px;
    height: 577px;
    position: absolute;  
}
.our__servis__title{
    width:329px ;
    height: 48px; 
    color: #FEFCF7;
    margin-top: 50px;
}
.our__servis__text{
    color: #FEFCF7;
    Width:540px;
    height:80px ;
    /* margin-left: 40px;
    margin-top: 100px; */
}
.our__servis__box{
    margin-left: -20%;
    margin-top: 10px;
}
.our__servis__list{
    width: 300px;
    height: 350px;
     background: #0E8784;
    border-radius: 8px;
    padding-left:32px;
    padding-top: 91px;
    margin: 0 -52px;
    position: relative;
    margin-top: 58%;
    margin-right: 100px;
    /* z-index: 1; */
}

.our__servis__list__item{
    width: 255px;
    height: 32px;

}
.our__servis__text{
    width:540px;
    height: 80px;
}
.our__servis__about__list{
    display: flex;

}
.our__servis-about__list{
    position: relative;
    margin-left: 17%;

}
.our__list__back__img{
    margin-top:14%;
    margin-left:14px;
}
.offer__list{
    margin-top: -81px;
    margin-left: -21px;
}
.inner__list__text {
    width: 225px;
}
.works__line{
    width: 760px;
    height: 2px;
    background-color: #FDD6BA;
    display: inline-block;
}
 .works__list{
    display: flex;
    width: 285px;
    align-items: center;
    justify-content: space-between; 
}
.item{
    width: 285px;
}  